django
django-widget-tweaks
folium
influxdb3-python
pillow
icecream
django-crispy-forms
crispy-bootstrap5
geopy
django-allauth
jwt
pylint-django
django-cors-headers
matplotlib
pandas
gunicorn
django-htmx

# psycopg2-binary
# pyotp

