{# This partial uses out-of-band swaps to update multiple parts of the UI #}

{# Update the main sensor detail card #}
<div id="sensor-live-details-wrapper-{{ sensor.pk }}" hx-swap-oob="true">
    {% include "sensors/partials/sensor_live_card.html" with sensor=sensor place=place source=source %}
</div>

{# Update the badge cell in the sensor row #}
<div id="sensor-badge-cell-{{ sensor.pk }}" hx-swap-oob="true">
    {% include "sensors/partials/_sensor_badge_cell.html" with sensor=sensor %}
</div>

<div id="sensor-age-cell-{{ sensor.pk }}" hx-swap-oob="true">
    {% include "sensors/partials/_sensor_age_cell.html" with sensor=sensor %}
</div>
