{% load humanize %}
{% load boolean_filters %}
{% load timezone_filters %}

    {% if sensor.latest_reading_error %}
        <span class="badge bg-danger-subtle text-danger-emphasis rounded-1">{{ sensor.latest_reading_error }}</span>
    {% elif sensor.cached_reading_value is not None %}
        {% if sensor.effective_unit.name == 'Boolean' %}
            {# Boolean display #}
            {% if sensor.cached_reading_value == 1.0 %}
                <span class="badge fs-4 p-2 bg-success-subtle text-success-emphasis rounded-1">{{ sensor.unit.true_value_text|default:'On' }}</span>
            {% else %}
                <span class="badge fs-4 p-2 bg-danger-subtle text-danger-emphasis rounded-1">{{ sensor.unit.false_value_text|default:'Off' }}</span>
            {% endif %}
        {% else %}
            {# Numeric display #}
            <span class="badge {{ sensor.get_reading_class }} rounded-1 p-2 fs-4">
                {{ sensor.cached_reading_value|floatformat:sensor.effective_decimal_places|default:"-" }}
                <span class="small">{{ sensor.effective_unit.symbol|default:"" }}</span>
            </span>
        {% endif %}
    {% else %}
         <span class="badge bg-secondary-subtle text-secondary-emphasis rounded-1" title="No reading available from source.">No Reading</span>
    {% endif %}
