<button type="button"
        class="btn btn-sm btn-outline-primary"
        title="Add a new device"
        {% if location %}
            hx-get="{% url 'sensors:device_create_modal_in_location' place_slug=place.slug location_slug=location.slug %}"
        {% else %}
            hx-get="{% url 'sensors:device_create_modal' place_slug=place.slug %}"
        {% endif %}
        hx-target="#htmx-modal-content"
        data-bs-toggle="modal"
        data-bs-target="#htmx-modal">
    <span class="text-nowrap"><i class="bi bi-hdd-rack"></i><i class="bi bi-plus-circle"></i></span>
</button>
