{% comment %}
Usage: {% include "sensors/partials/hide_inactive_switch.html" with model="place" %}
Supported models: place, location, device, sensor
{% endcomment %}

<div class="form-check form-switch">
    <input type="checkbox" 
           class="form-check-input hide-inactive-switch hide-inactive-{{ model }}-switch"
           data-model="{{ model }}"
           aria-label="Hide inactive {{ model }}s"
           {% if hide_inactive %}checked{% endif %}>
    <label class="form-check-label">
        Hide inactive
    </label>
</div> 