{% if device.location and device.location.slug == 'unassigned-devices' %}
<button type="button" class="btn btn-sm btn-outline-primary move-device"
        hx-get="{% url 'sensors:device_move_location' place_slug=device.location.place.slug pk=device.pk %}"
        hx-target="#htmx-modal-content"
        data-bs-toggle="modal"
        data-bs-target="#htmx-modal"
        title="Move Device">
    <span class="text-nowrap">
        <i class="bi bi-box-arrow-in-up-right me-1"></i>Move
    </span>
</button>
{% endif %}
