{% if place %}
<nav class="d-flex justify-content-between align-items-center w-100">
    <div class="text-body-secondary">
        <small>
            {% if not model_name %}
                <a href="{% url 'sensors:place_list' %}" class="text-decoration-none text-reset">
                    <i class="bi bi-compass"></i> SensorPlaces
                </a>
            {% else %}
                {% if not place %}
                    <a href="{% url 'sensors:place_list' %}" class="text-decoration-none text-reset">
                        <i class="bi bi-house-gear"></i> Places
                    </a>
                {% endif %}

                {% if model_name != 'place' %}
                    {% if location %}
                        <a href="{% url 'sensors:location_detail' place.slug location.slug %}" class="text-decoration-none text-reset">
                            <i class="bi bi-geo-alt"></i> {{ location.name }}
                        </a>
                    {% else %}
                        <a href="{% url 'sensors:location_list' place.slug %}" class="text-decoration-none text-reset">
                            <i class="bi bi-geo-alt"></i> Locations
                        </a>
                    {% endif %}
                {% endif %}

                {% if model_name not in 'place,location' %}
                    <i class="bi bi-chevron-right"></i>
                    {% if device %}
                        <a href="{% url 'sensors:device_detail' place_slug=place.slug pk=device.pk %}" class="text-decoration-none text-reset">
                            <i class="bi bi-hdd-rack"></i> {{ device.name }}
                        </a>
                    {% else %}
                        <a href="{% url 'sensors:device_list' place.slug %}" class="text-decoration-none text-reset">
                            <i class="bi bi-hdd-rack"></i> Devices
                        </a>
                    {% endif %}
                {% endif %}

                {% if model_name not in 'place,location,device' %}
                    <i class="bi bi-chevron-right"></i>
                    {% if sensor %}
                        <a href="{% url 'sensors:sensor_detail' place.slug sensor.pk %}" class="text-decoration-none text-reset">
                            <i class="bi bi-thermometer"></i> {{ sensor.name }}
                        </a>
                    {% else %}
                        <a href="{% url 'sensors:sensor_list' place.slug %}" class="text-decoration-none text-reset">
                            <i class="bi bi-thermometer"></i> Sensors
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </small>
    </div>
    {% include "sensors/partials/place_nav_header_buttons.html" %}
</nav>
{% endif %} 