<div class="text-center">
    <small class="text-{{ color|default:'warning' }} d-flex align-items-center justify-content-center gap-1">
        {% if links %}
            <a href="{% url 'sensors:place_list' %}" class="text-decoration-none d-flex align-items-center text-light-purple">
                <i class="bi bi-house-gear text-light-purple"></i>Places
            </a>
        {% else %}
            <span class="d-flex align-items-center text-light-purple">
                <i class="bi bi-house-gear text-light-purple"></i>Places
            </span>
        {% endif %}

        {% if place %}
        <i class="bi bi-link text-success fs-6"></i>

            {% if links %}
            <a href="{% url 'sensors:location_list' place_slug=place.slug %}" class="text-decoration-none d-flex align-items-center text-light-blue">
                <i class="bi bi-geo-alt text-light-blue"></i>Locations
            </a>
            <i class="bi bi-link text-success fs-6"></i>
            <a href="{% url 'sensors:device_list' place_slug=place.slug %}" class="text-decoration-none d-flex align-items-center text-light-gold">
                <i class="bi bi-hdd-rack text-light-gold"></i>Devices
            </a>
            <i class="bi bi-link text-success fs-6"></i>
            <a href="{% url 'sensors:sensor_list' place_slug=place.slug %}" class="text-decoration-none d-flex align-items-center text-light-green">
                <i class="bi bi-thermometer text-light-green"></i>Sensors
            </a>
        {% else %}
            <span class="d-flex align-items-center text-light-blue">
                <i class="bi bi-geo-alt text-light-blue"></i>Locations
            </span>
            <i class="bi bi-link text-success fs-6"></i>
            <span class="d-flex align-items-center text-light-gold">
                <i class="bi bi-hdd-rack text-light-gold"></i>Devices
            </span>
            <i class="bi bi-link text-success fs-6"></i>
            <span class="d-flex align-items-center text-light-green">
                <i class="bi bi-thermometer text-light-green"></i>Sensors
            </span>
            {% endif %}
        {% endif %}
    </small>
</div>
