{% extends "sensors/base_modal.html" %}

{% block modal_title %}
    {{ place.name }} Site Plan
{% endblock %}

{% block modal_body %}
    <div class="p-0">
        <div class="siteplan-wrapper bg-light">
            <div id="siteplan-container-modal"
                 data-place-slug="{{ place.slug }}"
                 data-image-url="{{ place.get_siteplan_url }}">
            </div>
            {{ locations_json|json_script:"locations-data-modal" }}
        </div>
    </div>
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
{% endblock %}
