<div class="modal-header">
    <h5 class="modal-title">{{ place.name }} Site Plan</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body p-0">
    <div class="siteplan-wrapper bg-light">
        <div id="siteplan-container-modal"
             data-place-slug="{{ place.slug }}"
             data-image-url="{{ place.get_siteplan_url }}">
        </div>
        {{ locations_json|json_script:"locations-data-modal" }}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
