<!-- Toast Message Container -->
<div id="toast-messages" class="d-none">
    {% if messages %}
        {% for message in messages %}
            <div class="server-toast-message" data-processed="false">
                <script type="application/json">
                    {{ message }}
                </script>
            </div>
        {% endfor %}
    {% endif %}

    {% if toast_message %}
        <div class="server-toast-message" data-processed="false">
            <script type="application/json">
                {
                    "message": "{{ toast_message.message|safe }}",
                    "type": "{{ toast_message.type }}"
                }
            </script>
        </div>
    {% endif %}
</div>