<!-- Toast History Modal -->
<div class="modal fade" id="toastHistoryModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="bi bi-bell me-2"></i>Notification History
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-0">
                <div class="toast-history-list" id="toastHistoryList">
                    <!-- Toast history items will be inserted here by JavaScript -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" id="clearToastHistory">
                    <i class="bi bi-trash me-2"></i>Clear History
                </button>
            </div>
        </div>
    </div>
</div> 