<div class="list-group-item device-row py-2 {% if not device.is_active and hide_inactive %}d-none{% elif not device.is_active %}list-group-item-light text-muted opacity-50{% endif %}"
    data-device-active="{{ device.is_active|lower }}"
    data-device-id="{{ device.pk }}"
    data-location-active="false"
    data-location-id="unassigned">
    <div class="row g-0 align-items-center">
        <!-- Name -->
        <div class="col-6">
            <a href="{% url 'sensors:device_detail' place_slug=place.slug pk=device.pk %}" class="d-flex align-items-start text-decoration-none fw-bold">
                <i class="bi bi-hdd-rack me-2"></i>
                <span>{{ device.name }}</span>
            </a>
        </div>
        <!-- Active Toggle -->
        <div class="col-2">
            {% include "sensors/partials/toggle_active_button.html" with type="device" id=device.pk is_active=device.is_active place_slug=place.slug object_name=device.name %}
        </div>
        <!-- Sensor Counts -->
        <div class="col-2 text-center">
            <a href="{% url 'sensors:device_sensors' place_slug=place.slug device_pk=device.pk %}" class="text-decoration-none text-dark">
                <i class="bi bi-cpu"></i> {{ device.sensors_active_count }}
                <span class="text-muted">({{ device.sensors_inactive_count }})</span>
            </a>
        </div>
        <!-- Actions -->
        <div class="col-2 text-end">
            <div class="btn-group btn-group-sm">
                <a href="{% url 'sensors:device_update' place_slug=place.slug pk=device.pk %}" class="btn btn-sm btn-outline-warning">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <a href="{% url 'sensors:device_delete' place_slug=place.slug pk=device.pk %}" class="btn btn-sm btn-outline-danger">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </div>
        </div>
    </div>
</div> 