.siteplan-wrapper {
}

/* --------------------------------------------------------------------------
   LEAFLET OVERRIDES
   -------------------------------------------------------------------------- */

/* Corrects Leaflet's default icon styles */
.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

/* Hides location labels when toggled off */
.siteplan-hide-labels .badge {
    display: none;
}

#siteplan-container-main,
#siteplan-container-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 75%; /* 4:3 Aspect Ratio */
}

#siteplan-container-modal {
    background: #eef;
}

#siteplan-container-main {
    min-height: 200px; /* safety */
}
