<div class="modal-header">
    <h5 class="modal-title" id="{% block modal_id %}{% endblock %}Label">{% block modal_title %}Modal Title{% endblock %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    {% block modal_body %}
        ...
    {% endblock %}
</div>
<div class="modal-footer">
    {% block modal_footer %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    {% endblock %}
</div>
