{% extends "sensors/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Device Details - {{ device.name }}{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Place Title Card - Spans both columns -->
    {% include 'sensors/partials/place_title_card.html' %}

    <div class="row">
        <!-- Left Column -->
        <div class="col-md-4">
            <!-- Place Navigation Card -->
            {% include 'sensors/includes/place_nav_card.html'  %}
            <!-- Locations Navigation Card -->
            {% include 'sensors/includes/device_nav_card.html' %}
        </div>

        <!-- Right Column -->
        <div class="col-md-8">
            <!-- Device Details Card -->
            {% include 'sensors/includes/device_details_card.html' %}

            <!-- Sensors Card -->
            {% include 'sensors/includes/sensor_list_card.html' %}
        </div>
    </div>
</div>

{% endblock %}
