{% extends "sensors/base.html" %}
{# {% load static %} #}
{# {% load widget_tweaks %} #}

{% block title %}Device Details - {{ device.name }}{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Place Title Card - Spans both columns -->
    <div class="row my-1">
        {% include 'sensors/partials/place_title_card.html' %}
    </div>

    <div class="row gx-2 my-1">
        <!-- Left Column -->
        <div class="col-md-4">
            <!-- Place Navigation Card -->
            {% if place.is_active %}
                {% include "sensors/includes/place_nav_card.html" %}
            {% else %}
                {% include "sensors/includes/place_nav_card.html" with show_hidden=True %}
            {% endif %}
            {% include "sensors/includes/live_counts_card.html" %}
        </div>

        <!-- Right Column -->
        <div class="col-md-8">
            <!-- Device Details Card -->
            {% include 'sensors/includes/device_detail_card.html' %}
            <!-- Sensors Card -->
            {% include 'sensors/includes/sensor_list_card.html' %}
        </div>
    </div>
</div>

{% endblock %}
