<form id="deleteDeviceForm"
      hx-post="{% url 'sensors:device_delete' place_slug=place.slug pk=object.pk %}"
      hx-swap="none">
    <div class="modal-header">
        <h5 class="modal-title" id="deleteDeviceModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the device <strong><i class="bi bi-hdd-rack"></i> {{ object.name }}</strong>?</p>
        <p class="text-danger">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            This action cannot be undone.
        </p>
        {% csrf_token %}
        {% if referrer_url %}
            <input type="hidden" name="referrer_url" value="{{ referrer_url }}">
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>
