{% extends "sensors/base.html" %}

{% block title %}Devices @ {{ place.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 mb-1">
        {% include "sensors/partials/place_title_card.html" with place=place %}
    </div>
    <!-- Two Column Layout for Locations and Devices -->
    <div class="row">
        <div class="col-md-4">
        <!-- Place Navigation Card -->
        {% if place.is_active %}
            {% include "sensors/includes/place_nav_card.html" %}
        {% else %}
            {% include "sensors/includes/place_nav_card.html" with show_hidden=True %}
        {% endif %}
           {% include "sensors/includes/live_counts_card.html" %}
        </div>

        <!-- right column -->
        <div class="col-md-8">
            {% if location %}
                <div class="mb-3">Location: {{ location.name }}</div>
                {% include "sensors/includes/device_list_card.html" with place=place locations=locations.all location=location %}
            {% else %}
                {% include "sensors/includes/device_list_card.html" with place=place locations=locations.all %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
