{% extends "sensors/base.html" %}
{# {% load widget_tweaks %} #}
{# {% load crispy_forms_tags %} #}

{% block title %}
    SensorPlaces:
    {% if object %}Edit Device: {{ object.name }}{% else %}New Device{% endif %}
{% endblock %}

{% block content %}
<div class="row gx-2">
    <div class="col-md-4">
        <!-- Place Navigation -->
        {% if place.is_active %}
            {% include "sensors/includes/place_nav_card.html" %}
        {% else %}
            {% include "sensors/includes/place_nav_card.html" with show_hidden=True %}
        {% endif %}

        {% if location %}
            {% include 'sensors/includes/location_detail_card.html' %}
        {% else %}
            {% include 'sensors/includes/device_nav_card.html' %}
        {% endif %}

    </div>

    <div class="col-md-8">
        {% include "sensors/includes/device_form_card.html" %}
        {% include "sensors/includes/sensor_list_card.html" with readonly=True %}
    </div>
</div>
{% endblock %}

{% block page_js %}
<script>
    console.log('Attaching locationCreated event listener.');
    document.addEventListener('locationCreated', function(event) {
        console.log('Received locationCreated event:', event.detail);
        const newLocation = event.detail;
        const locationSelect = document.querySelector('#id_location');

        if (locationSelect) {
            console.log('Found location select. Updating options.');
            // Create a new option and select it
            const option = new Option(`${newLocation.name} (new)`, newLocation.id, true, true);
            locationSelect.add(option);

            // Show a toast message to confirm
            if (window.showToast) {
                window.showToast(`New location "${newLocation.name}" has been created and selected.`, 'success');
            }
        } else {
            console.warn('Could not find #id_location select element.');
        }
    });
</script>
{% endblock %}
