{% extends "sensors/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}Edit {{ model_name|title }}{% else %}New {{ model_name|title }}{% endif %}
{% endblock %}

{% block content %}
<div class="row g-4">
    <!-- Place Title Card -->
    {% include 'sensors/partials/place_title_card.html' with place=place %}
    
    <div class="col-md-4">
        <!-- Place Navigation -->
        {% include 'sensors/includes/place_nav_card.html' with place=place locations=locations current_location=location %}

        {% if location %}
            <!-- Location Details when specific location -->
            {% include 'sensors/includes/location_detail_card.html' with place=place location=location %}
        {% else %}
            <!-- Locations List when choosing location -->
            {% include 'sensors/includes/location_list_card.html' with place=place locations=locations %}
        {% endif %}
    </div>

    <div class="col-md-8">
        {% include "sensors/includes/device_form_card.html" with device=device %}
    </div>
</div>
{% endblock %} 