{% extends "sensors/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Device Details - {{ device.name }}{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Place Title Card - Spans both columns -->
    {% include 'sensors/includes/place_title_card.html' with place=place %}

    <div class="row">
        <!-- Left Column -->
        <div class="col-md-4">
            <!-- Place Navigation Card -->
            {% include 'sensors/includes/place_nav_card.html' with place_slug=place.slug location=location locations=locations current_device=device %}
            <!-- Locations Navigation Card -->
            {% include 'sensors/includes/device_nav_card.html' with place_slug=place.slug locations=locations location=location active_tab='devices' current_device=device %}
        </div>

        <!-- Right Column -->
        <div class="col-md-8">
            <!-- Device Details Card -->
            {% include 'sensors/includes/device_details_card.html' with place_slug=place.slug pk=device.pk %}

            <!-- Sensors Card -->
            {% include 'sensors/includes/sensor_list_card.html' with place_slug=place.slug location=location device=device sensors=sensors %}
        </div>
    </div>
</div>

{% for location in locations %}
<div class="col-md-4">
    <div>
        {{ location.name }}
        {{ location.active_devices_count }}
        {{ location.inactive_devices_count }}
    </div>
</div>
{% endfor %}
{% endblock %}
