{% extends "sensors/base.html" %}
{% load static %}
{% load cache_bust %}
{% load sensor_filters %}

{% block title %}Sensor Places - Locations{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'sensors/css/siteplan.css'|bust %}">
{% endblock %}

{% block content %}
<div class="row gx-2 my-1">
    <div class="col-md-4">
        <!-- Siteplan Card -->
        {% include "sensors/includes/siteplan_card.html" %}

        {% include "sensors/includes/live_counts_card.html" %}
    </div>
    <!-- Right Column: Locations and Site Plan -->
    <div class="col-md-8">
        {% include "sensors/includes/location_list_card.html" %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{% static 'sensors/js/siteplan-view.js'|bust %}"></script>
<script src="{% static 'sensors/js/live-counts-updater.js'|bust %}"></script>
{% endblock %}