{% extends "sensors/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}Edit{% else %}New{% endif %} Location
{% endblock %}

{% block content %}
<div class="row">
    {% include 'sensors/partials/place_title_card.html' %}
    <div class="col-md-4">
        {% include 'sensors/includes/place_nav_card.html' with show_hidden=True %}
    </div>
    <div class="col-md-8">
        {% include 'sensors/includes/location_form_card.html' %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'sensors/js/active-status-checkbox.js' %}"></script>
{% endblock %}
