{% extends "sensors/base.html" %}

{% block title %}Locations @ {{ place.name }}{% endblock %}

{% block content %}
<div class="row">
    <!-- Place Title Card -->
    <div class="col-12 mb-1">
        {% include "sensors/partials/place_title_card.html" %}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <!-- Place Navigation Card -->
        {% if place.is_active %}
            {% include "sensors/includes/place_nav_card.html" %}
        {% else %}
            {% include "sensors/includes/place_nav_card.html" with show_hidden=True %}
        {% endif %}
        {% include "sensors/includes/live_counts_card.html" %}
    </div>
    <!-- Right Column: Locations and Site Plan -->
    <div class="col-md-8">
        {% if not place.is_active %}
            {% include "sensors/includes/location_list_card.html" with show_inactive=True %}
        {% else %}
            {% include "sensors/includes/location_list_card.html" with hide_inactive=hide_inactive %}
        {% endif %}
        {% if not place.is_active %}
            {% include "sensors/includes/device_list_card.html" with show_inactive=True %}
        {% else %}
            {% include "sensors/includes/device_list_card.html" %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'sensors/js/siteplan-view.js' %}"></script>
{% endblock %}