{% extends "sensors/base.html" %}

{% block title %}Locations @ {{ place.name }}{% endblock %}

{% block content %}
<div class="row">
    <!-- Place Title Card -->
    <div class="col-12 mb-1">
        {% include "sensors/partials/place_title_card.html" with place=place %}
    </div>
</div>
<div class="row">
    <!-- Left Column: place_nav and place_details -->
    <div class="col-md-4">
        {% include "sensors/includes/place_nav_card.html" with place=place locations=locations %}
        {% include "sensors/includes/siteplan_card.html" with place=place locations=locations %}
    </div>
    <!-- Right Column: Locations and Site Plan -->
    <div class="col-md-8">
        {% include "sensors/includes/location_list_card.html" with place=place locations=locations %}
    </div>
</div>
{% endblock %}