{% extends "sensors/base.html" %}

{% block title %}{{ location.name }}{% endblock %}

{% block content %}
<div class="row">

    <!-- Place Title Card -->
    <div class="col-12">
        {% include "sensors/includes/place_title_card.html" with place=location.place %}
    </div>

    <!-- Left Column -->
    <div class="col-md-4">
        <!-- PlaceNavigation Card -->
        {% include "sensors/includes/place_nav_card.html" with place=place locations=locations current_location=location %}
        <!-- Include Site Plan Card -->
        {% include "sensors/includes/site_plan_card.html" with place=location.place locations=locations location=location %}

    </div>
    
    <!-- Right Column -->
    <div class="col-md-8">
        <!-- Include Device List Card -->
        {% include "sensors/includes/device_list_card.html" with place=place locations=locations location=location devices=devices %}

    </div>
</div>
{% endblock %}
 