{% extends "sensors/base.html" %}

{% block title %}{{ location.name }}{% endblock %}

{% block content %}
<div class="row gx-2 my-1">
    <!-- Left Column -->
    <div class="col-md-4">
    <!-- Place Navigation Card -->
    {% if place.is_active %}
        {% include "sensors/includes/place_nav_card.html" %}
    {% else %}
        {% include "sensors/includes/place_nav_card.html" %}
    {% endif %}
        <!-- Include Site Plan Card -->
        {# {% include "sensors/includes/siteplan_card.html" with editable=False %} #}
    </div>

    <!-- Right Column -->
    <div class="col-md-8">
        <!-- Include Location Details Card -->
        {% include "sensors/includes/location_detail_card.html" %}

        <!-- Include Device List Card -->
        {% include "sensors/includes/device_list_card.html" %}

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<!-- <script src="{% static 'sensors/js/siteplan-view.js' %}"></script> -->
{% endblock %}
