{% extends "sensors/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {% if object %}Edit {{ model_name|title }}{% else %}New {{ model_name|title }}{% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
{% endblock %}

{% block content %}
{% if object %}
    {% include "sensors/partials/place_title_card.html" with place=object %}
{% endif %}

<div class="row justify-content-center">
    <div class="col-md-8">
        {% include "sensors/includes/place_form_card.html" %}
    </div>
</div>
{% endblock %}