{% extends "sensors/base.html" %}
{% load sensor_filters %}

{% block title %}Sensor Places - {{ place.name }}{% endblock %}

{% block content %}
<div class="row">
    <!-- Header with Title and Navigation -->

    <!-- Place Title Card -->
    <div class="col-12">
        {% include "sensors/includes/place_title_card.html" with place=place %}
    </div>

    <!-- Left Column: Place Details -->
    <div class="col-md-4">
        
        <!-- Include the live counts partial -->
        {% include 'sensors/live_counts.html' %}
        
        <!-- Place Details Card -->
        {% include "sensors/includes/place_details_card.html" with place=place locations=locations %}
 
    </div>

    <!-- Right Column: Locations and Site Plan/Map -->
    <div class="col-md-8">
        <!-- Locations Table Card -->
        {% include "sensors/includes/locations_list_card.html" with locations=locations place=place %}

        <!-- Site Plan/Map Card -->
        {% if place.site_plan %}
            {% include "sensors/includes/site_plan_card.html" with place=place locations=locations %}
        {% else %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title mb-0">Location Map</h5>
                </div>
                <div class="card-body p-0">
                    {{ map_html|safe }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %} 