{% extends "sensors/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<h5 class="card-title mb-0">
    <i class="bi bi-house-gear me-2"></i>
    {% if object %}Edit {{ place.name }}{% else %}New Place{% endif %}
</h5>

{% block title %}
    SensorPlaces:
    {% if object %}Edit {{ object.name }}{% else %}New Place{% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
{% endblock %}

{% block content %}
{% if object %}
    {% include "sensors/partials/place_title_card.html" with place=object %}
{% endif %}

<div class="row justify-content-center">
    <div class="col-md-8">
        {% include "sensors/includes/place_form_card.html" %}
    </div>
</div>
{% endblock %}