{% extends "sensors/base.html" %}
{% load static %}
{% load i18n %}
{% load sensors_tags %}

{% block title %}{{ place.name }} Details{% endblock %}

{% block page_class %}page-place-detail{% endblock %}

{% block content %}
    <div class="row">
        <!-- Main Content Column -->
        <div class="col-lg-7">
            <!-- Place Information Card -->
            {% include "sensors/includes/place_detail_card.html" %}

            <!-- Siteplan Card -->
            {% include "sensors/includes/siteplan_card.html" with editable=request.user.is_authenticated %}
        </div>

        <!-- Right Sidebar Column -->
        <div class="col-lg-5">
            <div class="vstack gap-1">
                <!-- Locations Card -->
                {% include "sensors/includes/location_list_card.html" %}

                <!-- Devices Card -->
                {% include "sensors/includes/device_list_card.html" %}

            </div>
        </div>
    </div>
{% endblock content %}
