{% extends "sensors/base.html" %}

{% block title %}Sensors @ {{ place.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 mb-1">
        {% include "sensors/partials/place_title_card.html" %}
    </div>

    <!-- Two Column Layout for Locations and Devices -->
    <div class="row">
        <div class="col-md-4">
        {% if device %}
            {% include "sensors/includes/device_detail_card.html" with readonly=True %}
        {% endif %}
        <!-- Place Navigation Card -->
        {% if place.is_active %}
            {% include "sensors/includes/place_nav_card.html" %}
        {% else %}
            {% include "sensors/includes/place_nav_card.html" with show_hidden=True %}
        {% endif %}
        {% load live_counts_tags %}
        {% live_counts_card place %}
        </div>

        <!-- right column -->
        <div class="col-md-8">
            {% include "sensors/includes/sensor_list_card.html" %}
        </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'sensors/js/live-counts-updater.js' %}"></script>
{% endblock %}