{% extends "sensors/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {% if object %}Edit {{ model_name|title }}{% else %}New {{ model_name|title }}{% endif %}
{% endblock %}

<!-- Place Title Card -->
{% block content %}
<div class="container-fluid">
    <!-- Place Title Card - Spans both columns -->
    {% include 'sensors/includes/place_title_card.html' with place=place %}
    <div class="row">
        <div class="col-md-4">
            <!-- Device Details Card -->
            {% include "sensors/includes/device_details_card.html" with device=device %}

            <!-- Location Details Card -->
            {% include "sensors/includes/location_details_card.html" with location=device.location %}
        </div>

        <div class="col-md-8">
            <div class="card rounded-3 shadow-sm border-0">
                <div class="card-header bg-white py-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">
                            <i class="bi bi-thermometer me-2"></i>
                            {% if object %}Edit {{ model_name|title }}{% else %}New {{ model_name|title }}{% endif %}
                            {% if device %}
                            <small class="text-body-secondary ms-2">
                                @ <i class="bi bi-hdd-rack"></i> {{ device.name }}
                            </small>
                            {% endif %}
                        </h5>
                        <div class="d-flex align-items-center">
                            <i class="bi bi-hdd-rack small text-muted me-1"></i>
                            <span class="small text-muted" style="white-space: nowrap;">
                                {{ device.name }}
                            </span>
                            <i class="bi bi-geo-alt small text-muted mx-1"></i>
                            <span class="small text-muted" style="white-space: nowrap;">
                                {{ device.location.name }}
                            </span>
                            <i class="bi bi-house-gear small text-muted mx-1"></i>
                            <span class="small text-muted" style="white-space: nowrap;">
                                {{ device.location.place.name }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% crispy form %}

                    {% if device and not device.is_active %}
                    <div class="alert alert-warning d-flex align-items-center py-2 my-2" role="alert">
                        <i class="bi bi-exclamation-triangle-fill me-2"></i>
                        <div>
                            This device is inactive. Any {{ model_name }}s created here will also be inactive.
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
