{% extends "sensors/base.html" %}

{% block title %}Sensors @ {{ place.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 mb-1">
        {% include "sensors/partials/place_title_card.html" %}
    </div>

    <!-- Two Column Layout for Locations and Devices -->
    <div class="row">
        <div class="col-md-4">
            {% include "sensors/includes/place_nav_card.html" %}
            {% include "sensors/includes/device_list_card.html" %}
        </div>

        <!-- right column -->
        <div class="col-md-8">
            {% if device %}
                {% include "sensors/includes/device_detail_card.html" %}
                {% include "sensors/includes/sensor_list_card.html" %}
            {% else %}
                {% include "sensors/includes/sensor_list_card.html" %}
            {% endif %}
        </div>

        </div>
    </div>
</div>
{% endblock %}