{% extends "sensors/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {% if object %}Edit Sensor: {{ sensor.name }}{% else %}Create New Sensor{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include 'sensors/partials/place_title_card.html' %}
    <div class="row">
        <div class="col-md-4">
        <!-- Place Navigation Card -->
        {% if place.is_active %}
            {% include "sensors/includes/place_nav_card.html" %}
        {% else %}
            {% include "sensors/includes/place_nav_card.html" with show_hidden=True %}
        {% endif %}
            {% include "sensors/includes/device_detail_card.html" %}
        </div>

        <div class="col-md-8">
            {% include "sensors/includes/sensor_form_card.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'sensors/js/active-status-checkbox.js' %}"></script>
{% endblock %}

