{% extends "sensors/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{{ sensor.name }}{% endblock %}

{% block content %}
<div class="row gx-2 mx-1">
    <div class="col-md-4">
        {% include "sensors/includes/place_nav_card.html" %}
        {% include "sensors/includes/device_detail_card.html" %}
        {% include "sensors/includes/sensor_list_card.html" %}
    </div>
    <div class="col-md-8">
        {% include "sensors/includes/sensor_detail_card.html" %}
        {% if sensor.is_active %}
            {% include "sensors/includes/sensor_graph_card.html" %}
        {% endif %}
    </div>
</div>

<div class="modal fade" id="deleteSensorModal" tabindex="-1" aria-labelledby="deleteSensorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    {% if sensor.is_active and not sensor.device.is_lorawan %}
        <script src="{% static 'sensors/js/charts.js' %}" defer></script>
    {% elif sensor.is_active and sensor.device.is_lorawan %}
        <script src="{% static 'sensors/js/sensor-chart.js' %}" defer></script>
    {% endif %}
    <script src="{% static 'sensors/js/sensor-detail.js' %}" defer></script>
{% endblock extra_js %} 