{% extends "sensors/base.html" %}

{% block title %}Sensor Details - {{ sensor.name }}{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Place Title Card - Spans both columns -->
    {% include 'sensors/partials/place_title_card.html' %}

    <div class="row">
        <!-- Left Column -->
        <div class="col-md-4">
            <!-- Place Navigation Card -->
            {% if place.is_active %}
                {% include "sensors/includes/place_nav_card.html" %}
            {% else %}
                {% include "sensors/includes/place_nav_card.html" with show_hidden=True %}
            {% endif %}
            {% if device %}
                {% include "sensors/includes/device_detail_card.html" %}
            {% endif %}
        </div>

        <!-- Right Column -->
        <div class="col-md-8">
            {% include "sensors/includes/sensor_detail_card.html" with sensor=sensor %}
            {% if sensor.is_active %}
                {% include "sensors/includes/sensor_readings_card.html" with sensor=sensor %}
            {% endif %}
    </div>
</div>
{% endblock %} 