{% extends "sensors/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {% if object %}Edit {{ model_name|title }}{% else %}New {{ model_name|title }}{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include 'sensors/partials/place_title_card.html' %}
    <div class="row">
        <div class="col-md-4">
            {% include "sensors/includes/device_detail_card.html" %}
            {% include "sensors/includes/location_detail_card.html" %}
        </div>

        <div class="col-md-8">
            {% include "sensors/includes/sensor_form_card.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'sensors/js/active-status-checkbox.js' %}"></script>
{% endblock %}

