{% extends "sensors/base.html" %}
{% load static %}

{% block title %}Site Plan - {{ place.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock %}

{% block content %}
<div class="row gx-2 my-1">
    <div class="col-md-4">
        {% include "sensors/includes/location_list_card.html" %}
    </div>
    <div class="col-md-8">
        {% include "sensors/includes/siteplan_card.html" %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{% static 'sensors/js/siteplan-view.js' %}"></script>
<script src="{% static 'sensors/js/hide-inactive-handler.js' %}"></script>
<script src="{% static 'sensors/js/toggle-active-handler.js' %}"></script>
{% endblock %} 