{% extends "sensors/base.html" %}

{% block title %}SwitchBot Management - {{ place.name }}{% endblock %}

{% block content %}
<div class="container mt-4">

    {# Card 1: SwitchBot API Settings #}
    {% include 'sensors/includes/switchbot_settings_card.html' %}

    {# Card 2: SwitchBot InfluxDB Store #}
    <div id="switchbot-influx-card">
        {% include 'sensors/includes/switchbot_influxstore_card.html' %}
    </div>

    {# Card 3: Device Sync #}
    {% include 'sensors/includes/switchbot_sync_card.html' %}

    {# Card 4: Existing SwitchBot Devices (loads via HTMX) #}
    {% include 'sensors/includes/switchbot_existing_devices_card.html' %}

</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'sensors/js/switchbot_mgmt.js' %}?v={{ APP_VERSION }}"></script>
{% endblock %}
