{% extends "sensors/base_modal.html" %}
{% load crispy_forms_tags %}

{% block modal_id %}switchbotConfigModal{% endblock %}
{% block modal_title %}
    <i class="bi bi-robot me-2"></i>Edit SwitchBot Configuration <span class="text-muted small">- {{ place.name }}</span>
{% endblock %}

{% block modal_body %}
    <form id="switchbot-config-form"
          hx-post="{{ form_url }}"
          hx-target="#switchbot-settings-card"
          hx-swap="outerHTML"
          >
        {% csrf_token %}

        {% crispy form %}
    </form>
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle me-2"></i>Cancel</button>
    <button type="submit" form="switchbot-config-form" class="btn btn-primary"><i class="bi bi-robot me-2"></i>Save</button>
{% endblock %}
