{% load widget_tweaks %}

<div class="card mb-2" id="device-nav-card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">
            <i class="bi bi-hdd-rack me-2"></i>
            {{ device.name }}
            <small class="text-muted ms-2">
                <i class="bi bi-geo-alt-fill me-1"></i>
                {{ location.name }}
            </small>
        </h5>
        <div class="form-check form-switch d-flex align-items-center gap-2 mb-0">
            <input class="form-check-input" type="checkbox" id="hideInactiveDevicesNav" checked>
            <label class="form-check-label small-label" for="hideInactiveDevicesNav">
                Hide<br>inactive
            </label>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="list-group list-group-flush rounded-bottom">
            {% for device in location.devices.all %}
            <a href="{% url 'sensors:device_detail' place_slug=place.slug pk=device.pk %}"
               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center
                      {% if device.pk == current_device.pk %}current-device{% endif %}"
               data-active="{{ device.is_active|lower }}"
               data-device-id="{{ device.pk }}">
                <div>
                    <i class="bi bi-hdd-rack m-0"></i>
                    {{ device.name }}
                    {% if not device.is_active %}
                    <span class="badge bg-danger ms-2">inactive</span>
                    {% endif %}
                </div>
                <div>
                    <span class="badge bg-success rounded-pill">{{ device.sensors.filter.is_active.count }}</span>
                    {% if device.sensors.filter.is_active.False.count %}
                    <span class="badge bg-danger rounded-pill">{{ device.sensors.filter.is_active.False.count }}</span>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
