{% load widget_tweaks %}

<div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <i class="bi bi-hdd-rack"></i>
            <span class="ms-2">Devices at {{ location.name }}</span>
        </div>
        <a href="{% url 'sensors:device_create' place_slug=location.place.slug location_pk=location.pk %}" class="btn btn-primary btn-sm">
            <i class="bi bi-plus"></i> Add
        </a>
    </div>
    <div class="card-body p-0">
        <div class="list-group list-group-flush rounded-bottom">
            {% for dev in location.devices.all %}
            <a href="{% url 'sensors:device_detail' place_slug=location.place.slug location_pk=location.pk pk=dev.pk %}" 
               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center
                      {% if dev == current_device %}active{% endif %}">
                <div>
                    <i class="bi bi-hdd-rack m-0"></i>
                    {{ dev.name }}
                    {% if not dev.is_active %}
                    <span class="badge bg-danger ms-2">inactive</span>
                    {% endif %}
                </div>
                <div>
                    <span class="badge bg-success rounded-pill">{{ dev.sensors.filter.is_active.count }}</span>
                    {% if dev.sensors.filter.is_active.False.count %}
                    <span class="badge bg-danger rounded-pill">{{ dev.sensors.filter.is_active.False.count }}</span>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div> 