{% load crispy_forms_tags %}
<div class="card rounded-3 shadow-sm border-0">
    <div class="card-header bg-white py-2">
        <h5 class="card-title mb-0">
            <i class="bi bi-hdd-rack me-2"></i>
            {% if object %}Edit {{ model_name|title }}{% else %}New {{ model_name|title }}{% endif %}
            {% if location %}
            <small class="text-body-secondary ms-2">
                @ <i class="bi bi-geo-alt"></i> {{ location.name }}
            </small>
            {% endif %}
        </h5>
    </div>
    <div class="card-body">
        {% if form.errors %}
        <div class="alert alert-danger static-alert mb-3">
            <div class="d-flex">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                <div>
                    <strong>Please correct the following errors:</strong>
                    <ul class="mb-0 mt-2">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>
                                    {% if field != '__all__' %}
                                        <strong>{{ field|title }}:</strong>
                                    {% endif %}
                                    {{ error }}
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        {% if not location and locations %}
            <div class="alert alert-info d-flex align-items-center mb-4" role="alert">
                <i class="bi bi-info-circle me-2"></i>
                <div>Please select a location for the new {{ model_name }}</div>
            </div>
        {% endif %}

        {% crispy form %}

        {% if form.get_warnings.serial_number %}
            <div class="alert alert-warning static-alert mt-3">
                <div class="d-flex">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                    <div>
                        {% for warning in form.get_warnings.serial_number %}
                            {{ warning }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div> 