{# {% load widget_tweaks %} #}

<div id="locationCard_{{ location.pk }}"
     class="card my-1 {% if not location.is_active %}opacity-50 text-muted{% endif %}">
    <div class="card-header d-flex justify-content-between align-items-center py-1">
        <h5 class="card-title mb-0 fs-5 d-flex align-items-center gap-2">
            <i class="bi bi-geo-alt"></i>
            <a href="{% url 'sensors:location_detail' place_slug=place.slug slug=location.slug %}" class="text-dark text-decoration-none">
                {{ location.name }}
            </a>
            {% include "sensors/partials/status_active_badge.html" with object=location %}
        </h5>
        <div class="btn-group">
            {% if model_name == 'location' %}
                <a href="{% url 'sensors:location_update' place_slug=place.slug slug=location.slug %}" 
                   class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil"></i>
                </a>
                <a href="{% url 'sensors:location_delete' place_slug=place.slug slug=location.slug %}" 
                   class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i>
                </a>
            {% else %}
                <a href="{% url 'sensors:location_detail' place_slug=place.slug slug=location.slug %}" 
                   class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-eye-fill"></i>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body py-2 px-2">
        <div class="row">
            <!-- Left side: Name & Place -->
            <div class="col-7">
                <div class="mb-2">
                    <div class="text-body-secondary small text-uppercase">Name</div>
                    <div>{{ location.name }}</div>
                </div>
                <div>
                    <div class="text-body-secondary small text-uppercase">Place</div>
                    <div>{{ location.place.name }}</div>
                </div>
            </div>
            
            <!-- Right side: Status & Counts -->
            <div class="col-5">
                <div>
                    <div class="text-body-secondary small text-uppercase">Devices</div>
                    <div class="small">
                        Active: {{ location.devices_active_count }}<br>
                        inactive: {{ location.devices_inactive_count }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 