<!-- Places List Card -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center gap-3">
        <h5 class="mb-0">Places</h5>
        {% include "sensors/includes/hide_inactive_switch.html" with model="place" %}
    </div>
    <div>
        <a href="{% url 'sensors:place_create' %}" class="btn btn-outline-primary btn-sm">
            <i class="bi bi-house-gear"></i><i class="bi bi-plus-circle"></i> Add Place
        </a>
    </div>
</div>
<div class="mb-4">
    <table id="placesTable" class="table table-striped table-hover align-middle my-1">
        <thead>
            <tr>
                <th class="text-nowrap">Name</th>
                <th class="text-wrap">Address</th>
                <th class="d-none d-lg-table-cell text-nowrap">Coordinates</th>
                <th class="text-center" style="min-width: 90px">Status</th>
                <th class="text-end" style="min-width: 85px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for place in places %}
                {% include "sensors/includes/place_row.html" with place=place %}
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No places found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 