{% load widget_tweaks %}
{% load sensor_filters %}

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="gap-3">
            <span>
                <i class="bi bi-geo-alt"></i>
                Locations
            </span>
        </div>
        <div class="d-flex gap-3 small">
            <a href="#" class="btn btn-outline-primary rounded-circle p-1" id="openPlaceMap" 
               data-bs-toggle="modal" 
               data-bs-target="#placeMapModal" 
               data-place-lat="{{ place.latitude }}"
               data-place-lon="{{ place.longitude }}"
               data-place-name="{{ place.name }}">
                <i class="bi bi-globe"></i>
            </a>
        </div>
    </div>
    <div class="card-body p-0" id="place-nav-card">
        <div class="list-group list-group-flush rounded-bottom">
            {% for location in locations %}
            {% if location.is_active %}
            <a href="{% url 'sensors:location_detail' place_slug=place.slug pk=location.pk %}" 
               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-1 px-2
                      {% if location.pk == current_location.pk %}current-location{% endif %}"
               data-active="true"
               data-location-id="{{ location.pk }}">
                <div>
                    {{ location.name }}
                </div>
                <div class="d-flex align-items-center">
                    <span class="device-counts me-2">
                        <span class="text-success font-monospace fw-bold active-count" id="location-{{ location.pk }}-active">{{ location.active_devices_count }}</span>
                        (<span class="text-body-secondary font-monospace" id="location-{{ location.pk }}-inactive">{{ location.inactive_devices_count|default:0 }}</span>)
                    </span>
                    <i class="bi bi-hdd-rack"></i>
                </div>
            </a>
            {% endif %}
            {% empty %}
            <div class="list-group-item text-center text-muted py-2">
                <i class="bi bi-inbox"></i>
                <p class="mb-0 mt-2">No locations found</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div> 