{# {% load widget_tweaks %} #}
{# {% load sensor_filters %} #}

<div id="place-nav-card"
     class="card my-1 {% if not place.is_active %}opacity-50 text-muted{% endif %}">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">
            <i class="bi bi-geo-alt me-2"></i>
            <a href="{% url 'sensors:location_list' place_slug=place.slug %}" class="text-dark text-decoration-none">Locations</a>
        </h5>
    </div>
    <div class="card-body p-0">
        <div class="list-group list-group-flush rounded-bottom">
            {% for location in locations %}
            {% if location.is_active or show_hidden %}
            <div class="list-group-item d-flex justify-content-between align-items-center py-1 px-2
                      {% if location.slug == active_location_slug %}current-location{% endif %}
                      {% if not location.is_active %}opacity-50 text-muted{% endif %}"
               data-location-id="{{ location.pk }}"
               data-location-active="{{ location.is_active|lower }}">
                <a href="{% url 'sensors:location_detail' place_slug=place.slug slug=location.slug %}" class="text-dark text-decoration-none d-flex align-items-center">
                    <strong class="fw-bold">{{ location.name }}</strong>
                    {% if not location.is_active %}
                    <span class="badge text-bg-secondary ms-2">inactive</span>
                    {% endif %}
                </a>
                <a href="{% url 'sensors:location_detail' place_slug=place.slug slug=location.slug %}" class="text-dark text-decoration-none d-flex align-items-center">
                    {% if location.is_active %}
                    <span class="device-counts me-2 text-success font-monospace fw-bold active-count" id="location-{{ location.pk }}-active">{{ location.devices_active_count|default:0 }}</span>
                    {% endif %}
                    <i class="bi bi-hdd-rack"></i>
                </a>
            </div>
            {% endif %}
            {% empty %}
            <div class="list-group-item text-center text-muted py-2">
                <i class="bi bi-inbox"></i>
                <p class="mb-0 mt-2">No locations found</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
