{% if place %}
<div class="btn-group btn-group-sm ms-3">
    <a href="{% url 'sensors:place_locations' place.slug %}" 
       class="btn btn-outline-info {% if model_name == 'location' %}active{% endif %}">
        <i class="bi bi-geo-alt me-1"></i>Locations
    </a>
    <a href="{% url 'sensors:place_devices' place.slug %}" 
       class="btn btn-outline-dark {% if model_name == 'device' %}active{% endif %}">
        <i class="bi bi-hdd-rack me-1"></i>Devices
    </a>
    <a href="{% url 'sensors:place_sensors' place.slug %}" 
       class="btn btn-outline-success {% if model_name == 'sensor' %}active{% endif %}">
        <i class="bi bi-thermometer me-1"></i>Sensors
    </a>
</div>
{% endif %}