{% if place %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'sensors:place_detail' place.slug %}">{{ place.name }}</a>
        </li>
        {% if location and not device and not sensor %}
            <li class="breadcrumb-item active">{{ location.name }}</li>

        {% elif location and device and not sensor %}
            <li class="breadcrumb-item">
                <a href="{% url 'sensors:location_detail' place_slug=place.slug pk=location.pk %}">
                    {{ location.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">{{ device.name }}</li>

        {% elif location and device and sensor %}
            <li class="breadcrumb-item">
                <a href="{% url 'sensors:location_detail' place_slug=place.slug pk=location.pk %}">
                    {{ location.name }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'sensors:device_detail' place_slug=place.slug device_id=device.id %}">
                    {{ device.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">{{ sensor.name }}</li>
        {% endif %}
        {% include "sensors/includes/place_nav_header_buttons.html" with place=place model_name=model_name %}
    </ol>
</nav>
{% endif %} 