{% load crispy_forms_tags %}
<div class="card my-1" id="sensor-form-card">
    <div class="card-header d-flex justify-content-between align-items-center py-1">
        <h5 class="card-title mb-0 fs-5 d-flex align-items-center">
            <i class="bi bi-thermometer"></i>
            {% if object %}
                Edit Sensor
            {% else %}
                Create New Sensor
            {% endif %}
        </h5>
    </div>
    <div class="card-body p-2" id="sensor-form-card-body">
        {% crispy form %}
    </div>
</div>
