<tr class="table-primary location-row {% if not location.is_active %}text-muted opacity-50{% endif %} {% if not location.is_active and hide_inactive %}d-none{% endif %}" data-location-id="{{ location.pk }}" data-location-active="{{ location.is_active|lower }}">
    <td colspan="2">
        <a href="{% url 'sensors:location_detail' place_slug=place.slug slug=location.slug %}" class="text-decoration-none text-dark d-flex align-items-center">
            <i class="bi bi-geo-alt me-2"></i>
            <strong class="text-break">{{ location.name }}</strong>
        </a>
    </td>
    <td colspan="2" class="text-end">
        <small class="text-nowrap">
            <i class="bi bi-hdd-rack me-1"></i> {{ location.devices_active_count }} ({{ location.devices_inactive_count }})
            <i class="bi bi-thermometer me-1 ms-2"></i> {{ location.sensors_active_count }} ({{ location.sensors_inactive_count }})
        </small>
    </td>
</tr> 