<!-- Large screen layout -->
<tr class="table-light device-row
    {% if not parent_is_active or not device.is_active %}text-muted opacity-50{% endif %}
    {% if not device.is_active and hide_inactive or not parent_is_active and hide_inactive %}d-none{% endif %}"
    data-device-id="{{ device.pk }}"
    data-device-active="{{ device.is_active|lower }}"
    data-location-id="{{ device.location.pk }}">
    <td class="ps-4">
        <a href="{% url 'sensors:device_detail' place_slug=place.slug pk=device.pk %}" class="text-decoration-none text-dark d-flex align-items-center">
            <i class="bi bi-hdd-rack me-2"></i>
            <strong class="text-break">{{ device.name }}</strong>
        </a>
    </td>
    <td></td>
    <td>
        <div class="small">{{ device.device_type }}</div>
        <div class="small text-muted lh-1">({{ device.model }})</div>
    </td>
    <td class="text-end">
        {% include "sensors/partials/sensor_add_button.html" %}
    </td>
</tr>
{% for sensor in device.sensors_sorted %}
    {% with device_is_active=device.is_active %}
        {% include 'sensors/partials/sensor_row.html' with device=device sensor=sensor parent_is_active=parent_is_active device_is_active=device_is_active hide_inactive=hide_inactive %}
    {% endwith %}
{% endfor %} 