<div class="text-center">
    <small class="text-{{ color|default:'warning' }} d-flex align-items-center justify-content-center gap-1">
        <i class="bi bi-house-gear"></i>Places
        <i class="bi bi-link text-success fs-6"></i>
        <i class="bi bi-geo-alt"></i>Locations
        <i class="bi bi-link text-success fs-6"></i>
        <i class="bi bi-hdd-rack"></i>Devices
        <i class="bi bi-link text-success fs-6"></i>
        <i class="bi bi-thermometer"></i>Sensors
    </small>
</div> 