<div class="list-group-item" id="influx-store-{{ store.pk }}">
    <div class="row align-items-center">
        <div class="col-md-3">
            {{ store.name }}
            {% if store.is_default %}
                <span class="badge bg-primary ms-1">Default</span>
            {% endif %}
            {% if store.is_switchbot %}
                <span class="badge bg-info text-dark ms-1">SwitchBot</span>
            {% endif %}
        </div>
        <div class="col-md-3 text-muted small text-truncate">{{ store.url }}</div>
        <div class="col-md-2 text-truncate">{{ store.org }}</div>
        <div class="col-md-2">{{ store.bucket_name }}</div>
        <div class="col-md-2 text-end">
            <div class="btn-group btn-group-sm" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-wrench-adjustable"></i> Test
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#" hx-post="{% url 'sensors:test_influx_store_bucket' place_slug=place.slug pk=store.pk %}" hx-target="#test-results-{{ store.pk }}" hx-swap="innerHTML">
                                Bucket Connection
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" hx-post="{% url 'sensors:test_influx_store_write' place_slug=place.slug pk=store.pk %}" hx-target="#test-results-{{ store.pk }}" hx-swap="innerHTML">
                                Write/Read Test
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="{% url 'sensors:influxstore_detail' place_slug=place.slug pk=store.pk %}" class="btn btn-outline-info" title="View">
                    <i class="bi bi-eye-fill"></i>
                </a>
                <a href="{% url 'sensors:influxstore_update' place_slug=place.slug pk=store.pk %}" class="btn btn-outline-warning" title="Edit">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <button type="button" class="btn btn-outline-danger delete-influx-store"
                        data-url="{% url 'sensors:influxstore_delete' place_slug=place.slug pk=store.pk %}"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteInfluxStoreModal"
                        title="Delete">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="test-results-{{ store.pk }}" class="mt-2"></div>
</div>
