SQLITE_FILE=/opt/app/db/db.sqlite3

SERVERNAME1=sensorplaces.local
SERVERNAME2=sensorplaces.com

# Change this in production
SECRET_KEY=django-insecure-6(r&6ixhh6-ct2h0_)#*pz(pswbx!x6z318oc9(suw5w&wtzp!

DJANGO_DEBUG=True

# Enable for production to apply cache-busting to static files
# STATIC_BUSTER=True

# Optional: Superuser creation on startup
# DJANGO_SUPERUSER_USERNAME=admin
# DJANGO_SUPERUSER_PASSWORD=admin123
# DJANGO_SUPERUSER_EMAIL=admin@example.com 