# Please update these values with the correct settings for your test InfluxDB instance.
INFLUX_TEST_NAME="Dummy InfluxDB"
INFLUX_TEST_URL="https://us-east-1-1.aws.cloud2.influxdata.com"
INFLUX_TEST_ORG="9d35y6y2bfe92"
INFLUX_TEST_BUCKET_NAME="test_bucketA"
INFLUX_TEST_TOKEN="RGaLxxIf9urFtSRNhH3twZrJsANBwBg=="
